@media all and (max-width: 600px) {
  /*Mobile only*/
  body {
    width: 100% !important;
    margin: auto !important;
  }
  .login-input {
    width: 95% !important;
  }
}

.login-input {
  width: 30%;
}

body {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: none;
  font-size: 12pt;
}

.table {
  width: 60%;
  margin: auto;
}

.table div {
  display: block;
  margin: auto;
  white-space: nowrap;
}

.table span {
  width: 33%;
  margin: auto;
  display: inline-block;
}

footer {
  font-size: 0.75em;
  color: grey;
}

.nav-list {
  list-style-type: none;
  margin: 0.5em;
  padding: 0;
  width: 100%;
}
.nav-list li {
  display: inline;
  float: right;
  margin: 0.5em;
}
.nav-list a {
  text-decoration: none;
  display: inline-block;
  color: #103010;
  font-size: 1.5em;
}
.nav-list .rides-r-us {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  float: left;
}

a {
  color: #e64f1c;
}
a:hover {
  color: #c51b0e;
}

.order-header-list,
.orderListElement {
  list-style-type: none;
  margin: 0.5em;
  padding: 0;
  width: 100%;
}
.order-header-list li,
.orderListElement li {
  display: inline-block;
}

button {
  border-radius: 1em;
  border: none;
  background-color: #008cff;
  color: #ffffff;
  text-align: center;
  padding: 1em 5em;
  cursor: pointer;
}

.orderListElement li {
  padding: 0.4em;
}

.orderListElement button span {
  font-size: 4em;
}

.orderListElement button {
  vertical-align: super;
  border-radius: 50%;
  padding: 0px;
  width: 5em;
  height: 5em;
}

.status {
  width: 30%;
  max-width: 28em;
  margin-left: 3em;
  margin-right: 3em;
}

.status progress {
  width: 100%;
  background: #777;
  border-radius: 16px;
  padding: 0.5em;
  overflow: hidden;
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
}

.form {
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
}

hr {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: Cyan;
}

.light {
  color: Grey;
  margin-top: 0em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0em;
  border-width: 0.1em;
}

.no-decor {
  text-decoration: none;
}
